<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>/index.html</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=2">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>Welcome!</h1>
    <div>
        <a th:href="@{/swagger-ui/index.html}">Go to Swagger UI</a>
    </div>
</div>
</body>
</html>
